[Unit]
Description=Service that controls the Arcturus robots
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/root/horus-v2/horus-v2

[Install]
WantedBy=multi-user.target